@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Variables de CSS */


:root {
    --background-color: #F3E4D7;
    --text-color: #333333;
    --text-color-light: #f5f5f5;
    --navbar-color: linear-gradient(135deg, #161c21, #1A4265); /* Azul profundo para la barra de navegación */
    --border-color: #C3B392; /* Un marrón suave para los bordes */
    --azul-oscuro: #1A4265;
    --remove-btn-color: #F69C7B;
    --gradient-color: linear-gradient(135deg, #4C6A92, #F5A178);
    --suggested-item-color:#61706D;
    --footer-color: #ac804a;
}

body {
    overflow-x: hidden; /* Evitar que la página se haga demasiado ancha */
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Fira Sans', sans-serif;
}

/* Estilos de CSS*/
html{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Fira Sans', sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
header{
    background: var(--navbar-color);

}


div {
    display: block;
    unicode-bidi: isolate;
}


/* Restablecer los estilos de Bootstrap */
h1, h2 {
    margin-top: 0; /* Ajustar márgenes según sea necesario */
    color: var(--text-color); /* Asegúrate de que el color del texto sea consistente */
    font-family: 'Fira Sans', sans-serif; /* Mantén la fuente consistente */
    font-size: 2.5rem; /* Ajustar el tamaño del texto según sea necesario */
}


.table-container {
    width: 100%;
    overflow-x: auto;
    padding: 20px;
    
}

#tabla {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid var(--azul-oscuro);
    background-color: var(--text-color-light);
}

.buscador ::placeholder{
    color: var(--border-color);
}
.navMenu{
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 80px;
    background-color: var(--navbar-color);
    color: var(--text-color-light);

}

#tabla th, #tabla td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}



#tabla thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: var(--navbar-color);
    font-size: larger;
}

#tabla tbody + tbody {
    border-top: 2px solid #dee2e6;
}



/* Selectores */

.suggested_items_purcharse_btn {

    right: 15px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid;
    color: #fff;
    padding: 9px;

    display: block;
    /* margin-left: auto;
    margin-right: auto; */

}


.header__plain{
    padding-top: 2%;
    background-color: var(--background-color);
}


.header__process__list {
    list-style: none;
    padding-right: 160px;
    display: flex;
    justify-content: center; /* Centra la lista de proceso */
    margin: 0 auto;
    width: 100%;

}

.header__process__list__item {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;

}


.rounded_number {
    width: 20px;
    height: 20px;
    background-color: var(--border-color);
    border-radius: 50%;
    text-align: center;
    line-height: 20px; /* Centra el texto verticalmente */
    color: var(--navbar-color);
    font-weight: bold;
    font-size: 13px;

}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-color);
}


/* Footer */
footer {
    background: var(--footer-color);
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
    font: 1.6rem / 1.5 "metropolis", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.footer__payment{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    background: #fff;
    min-height: 41px;
    justify-content: center;
}

.footer__info {
    text-align: center;
    background: var(--footer-color);
    /* padding: 35px 20px 40px; */
}

.footer__info h4{
    color: #FFF;
    font-family: Inter;
    font-size: 16.1px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 149.068% */
}

@media (min-width: 601px) {
    .footer__info_A {
        margin: 10px auto 15px;
        padding-bottom: 15px;
        font-size: 12.2px;
        font-style: normal;
        max-width: 1200px;
        border-bottom: 1px solid rgba(255, 255, 255, .2);
    }
}

.footer__info_B {
    color: var(--azul-oscuro);
    font-family: Inter;
    font-size: 12.2px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 147.541% */
}