@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* Variables del CSS */

:root {
    --background-color: #F3E4D7;
    --text-color: #333333;
    --text-color-light: #f5f5f5;
    --navbar-color: linear-gradient(135deg, #161c21, #1A4265); /* Azul profundo para la barra de navegación */
    --border-color: #C3B392; /* Un marrón suave para los bordes */
    --azul-oscuro: #1A4265;
    --remove-btn-color: #F69C7B;
    --gradient-color: linear-gradient(135deg, #4C6A92, #F5A178);
    --suggested-item-color:#61706D;
    --footer-color: #ac804a;
}

/* *, *::before, *::after {
    box-sizing: border-box;
} */


/* Estilos del CSS */

html{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Fira Sans', sans-serif;
  }

header{
    background: var(--navbar-color);

}

img {
    max-width: 100%;
    display: block;
}

div {
    display: block;
    unicode-bidi: isolate;
}

body{
    width: 100%;
}




.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 94.18px;
    margin-bottom: 40px;
}

.header__logo {
    margin-right: auto;
    padding-left: 50px;
}

.header__process__list {
    list-style: none;
    padding-right: 160px;
    display: flex;
    justify-content: center; /* Centra la lista de proceso */
    margin: 0 auto;
    width: 100%;

}

/* Make responsive the process list */
@media (max-width: 601px) {


    .header__process__list{
        display: none;
    }
    body{
        overflow-x: hidden;
    }



}


.header__process__list__item {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.header__process__list__item p{
    color: var(--background-color);
}



.rounded_number {
    width: 20px;
    height: 20px;
    background-color: var(--border-color);
    border-radius: 50%;
    text-align: center;
    line-height: 20px; /* Centra el texto verticalmente */
    color: var(--navbar-color);
    font-weight: bold;
    font-size: 13px;

}


#main_container, #subcontainer {
    max-width: 1040px; /* Ancho máximo común */
    width: 100%; /* Asegura que ocupen todo el espacio disponible hasta el máximo */
    margin: 0 auto; /* Centrado horizontal */
    padding: 0 5px; /* Padding uniforme para ambos */
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
}



#main_container{

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; /* Alinea los elementos al inicio */
    transition: opacity 150ms ease-in-out;
    width: 100%;
    gap: 20px;
    padding-bottom: 30px;

}


/* Carrito de compra */   
#carrito{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    background-color: var(--navbar-color);
    width: 622.2px;
    min-height: 228.8px;
    box-sizing: border-box; /* el padding no afecte el ancho total */
}

#carrito h2{
    color: var(--azul-oscuro);
    font-family: Inter;
    font-size: 17.6px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px; /* 125% */
}

@media (min-width: 601px){
    .carrito__item{
        display: grid;
        margin-bottom: 10px;
        grid-template-columns: 90px 1fr auto 20px;
        grid-gap: 0 20px;
        align-items: center;
        font-size: 1.4rem;
        min-height: 100px;
        background-color: var(--gradient-color);
    }

    .carrito__item__info{
        padding: 0px 20px 5px 0;
    }

}

.carrito__item {
    display: grid;
    grid-template-columns: 90px 1fr auto;  /* Ajustar segun necesidad */
    grid-gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    background-image: linear-gradient(290deg, #95bbcc, var(--azul-oscuro) 120%);
    padding: 10px;
    width: 100%; /* ancho para considerar el padding */
    box-sizing: border-box; /* padding y border en el ancho y alto total */
    
}

.carrito__item__info {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 8px;
    align-items: center;
    box-sizing: border-box;
}


.carrito__item__img{
    max-width: 100%;
    grid-row: 1 / span 3; /* Asegurarse que la imagen ocupe las filas necesarias */
    box-sizing: border-box;
}

.carrito__item__info__store{
    display: flex;
    align-items: center;
    gap: 8px;
    

}


.carrito__item__info__store p{
    color: #FFF;
    font-family: Inter;
    font-size: 11.8px;
    font-style: normal;
    font-weight: 800;
    line-height: 18px; /* 152.542% */
}

.carrito__item__info__store img{
    width: 16px;
    height: 16px;
}

.svg_trash{
    width: 26px;
    height: 26px;
    grid-column: 3;
    justify-self: end;
    padding-right: 8px;

    /* Subirlo levemente para que quede centrado con el texto */
    transform: translateY(-7px);
    cursor: pointer;
    
}

.carrito__item__info__product{
    font-weight: 800;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-right: 35px;
    color: #fff;
    transition: color 150ms ease-in-out;
    justify-self: start;
    font: inherit;
    grid-column-start: 2;
    grid-column: 2;
}

@media (min-width: 601px){
    .carrito__item__info__product{
        margin-right: 0;
        grid-column-start: 2;
    }
}

.carrito__item__book_status {
    grid-column: 2;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 10px;
}

.carrito__item__book_status p{
    font-size: small;
    color: var(--border-color);
    font-family: Inter;
}

.carrito__item__price{
    font-weight: 800;
    font-size: 1.4rem;
    line-height: 2rem;
    box-sizing: border-box;
    color: #fff;
    transition: color 150ms ease-in-out;
    font: inherit;
    justify-self: end;
}

.svg_question_mark{
    width: 12px;
    height: 12px;
}

/* resumen de compra */
#purchase_summary{
    width: 355px;
    height: 253.15px;
    background: var(--navbar-color);
    color: var(--text-color-light);

}

#purchase_summary h2{
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin: 20px 30px 15px;
}
@media (max-width: 1200px) {
    #purchase_summary h2 {
        font-size: calc(1.64rem + 0.1333333333vw);
    }
}

#purchase_summary__button{
    padding: 0 30px 10px;
    text-align: center;
    position: relative;
    z-index: 1;
}

#purchase_summary__button button{
    background: var(--border-color);
    color: #000;
    font-family: Inter;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 14.9px;
    line-height: 1.5rem;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out;
    min-height: 35px;
    padding: 0 10px;
    cursor: pointer;
    width: 100%;
    border: 2px solid var(--border-color);
}

#purchase_summary__button button:hover{
    background: var(--background-color);
    border: 2px solid var(--background-color);
    
}

#purchase_summary__list{
    margin: 20px 30px 15px;
}

#purchase_summary__list li{
    display: flex;
    font-size: 0.8rem;
    list-style: none;
}

#purchase_summary__list li strong{
    font-size: 0.9rem;
    font-weight: 800;
    flex: 1;
    text-align: right;
}

#purchase_summary__total{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: none;
    font-weight: 800;
    text-align: right;
    padding: 10px 30px 10px;
    box-sizing: border-box;
    
}
#separation_line hr{
    width: 100%;
    border: 0;
    height: 1px;
    background: var(--background-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#purchase_summary__total__price{
    flex: 1;
    font-size: 3rem;
    line-height: 1;
    box-sizing: border-box;
    
}

#purchase_summary__total__price span{
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 1.7rem;
}

/*Items sugeridos*/
#subcontainer{
    position: relative;
    /* Revisar */
    /* padding-right: 43px; */
    margin: 0 auto 40px;
    max-width: 1040px;
    width: 100%;
    box-sizing: border-box;
    align-items: flex-start;

}

#suggested_items{
    background-image: linear-gradient(250deg, #a0937a , var(--azul-oscuro) );
    padding: 20px;
    
}

#suggested_items h2{
    font-weight: 800;
    font-family: Inter;
    font-size: 20px;
    line-height: 2.2rem;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    color: var(--text-color-light);
    
}

@media (max-width: 1200px) {
    
    #suggested_items h2{
        font-size: calc(1.64rem + 0.1333333333vw);
    }


}

.suggested_items_container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    padding: 0 30px;
    min-height: 335px;
    align-items: flex-start;
    
}

 @media (max-width: 1200px) {
    .suggested_items_container {
        grid-template-columns: repeat(2, 1fr);
    }
}


.suggested_item_top{
    display: grid;
    position: relative;
    z-index: 0;
    font-weight: 800;
    line-height: 1;
    font-size: 1.2rem;
    background-image: linear-gradient(290deg, #95bbcc, var(--azul-oscuro) 120%);
}
.suggested_item{
    display: grid;
    grid-template:
        "img"
        "top"
        "bottom";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.suggested_item__img{
    grid-area: img;
    overflow: hidden;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    
}

.suggested_item__img img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
    
}

.suggested_item__info{
    position: relative;
    grid-area: top;
    display: grid;
    padding: 15px 15px 10px;
  
    overflow: hidden;
    
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5;
    max-height: 3em;

}

.suggested_item__info__title{
    overflow: hidden;
    margin-bottom: 8px;
}

.suggested_item__info__title span{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5;
    max-height: 3em;
    font-family: Inter;
    font-size: 0.8rem;
}

.suggested_item__info__status{
    color: #734207;
    font-family: Inter;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis; /* Trunca el texto en ... */
    overflow: hidden;
    font-size: 11.8px;
}

.suggested_item__price{
    grid-area: bottom;
    padding: 0 15px 15px;
    display: flex;
    justify-content: space-between;
    grid-column-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    
    align-items: end;
}

.suggested_items_purcharse_btn{
   
    right: 15px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid;
    color: #fff;
    padding: 9px;

}

.suggested_item__price_stock{
    color: var(--azul-oscuro);
    font-family: Inter;
    font-size: 12.2px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px; /* 98.361% */
    padding: 0 15px 15px;

}

/* Footer */
footer{
    font: 1.6rem / 1.5 "metropolis", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: var(--background-color);
    color: #fff;
    overflow-x: hidden;
    
}

.footer__payment{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    background: #fff;
    min-height: 41px;
    justify-content: center;
}

@media (max-width: 601px) {
    .footer__payment {
        justify-content: center;;
    }
}

@media (min-width: 601px) {
    .footer__info {
        text-align: center;
        background: var(--border-color);
        padding: 35px 20px 40px;
    }
}

.footer__info {
    text-align: center;
    background: var(--footer-color);
    padding: 35px 20px 40px;
    

}

.footer__info h4{
    color: #FFF;
    font-family: Inter;
    font-size: 16.1px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 149.068% */
}


@media (min-width: 601px) {
    .footer__info_A {
        margin: 10px auto 15px;
        padding-bottom: 15px;
        font-size: 12.2px;
        font-style: normal;
        max-width: 1200px;
        border-bottom: 1px solid rgba(255, 255, 255, .2);
    }
}

.footer__info_B {
    color: var(--azul-oscuro);
    font-family: Inter;
    font-size: 12.2px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 147.541% */
}